.page__werpper{
    max-width: 1280px;
    margin: 0 auto;
}

.main{
    width: 77.6%;
}

.mainSection{
    padding: 0px 32px 32px;
}

.page__werpper__aisde {
    width: 23.15%;

    .asideNav__title {
        @include imgReplaceText("../images/logo-ANSWER.svg");
        width: 143px;
        height: 40px;
    }

    .asideNav__list__item {
        @include twoItemLevelCenter;
        font-weight: bold;
        padding: $space*2 $space*2 $space*2 $space*14;
        margin-left: -$space*15;
        border-left: 4px solid transparent;

        &:hover {
            border-left: 4px solid $green;
            @include linkHover
        }

        &:focus {
            border-left: 4px solid $green;
            @include linkFocus
        }
    }
}

.page__werpper__aisde .asideNav .light{
    border-left: 4px solid $green;
    color: darken($green, 10%);
}

.asideInfo__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
