.container {
    max-width: 950px;
    margin: 0 auto;
}

.logo {
    @include imgReplaceText("../images/logo-ANSWER.svg");
    width: 143px;
    height: 40px;
}

.Nav__list__item {
    margin-left: -$space*15;
    border-left: 4px solid transparent;
    padding-left: 32px;

    &:hover {
        border-left: 4px solid $green;
        color: $green;
    }

    &.active {
        border-left: 4px solid $green;
        color: $green;
    }

    // &:focus {
    //     border-left: 4px solid $green;
    //     @include linkFocus
    // }
}

.asideInfo__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}