   .maniAside__select {
        border: none;
        outline: none;
        font-weight: bold;
        margin-bottom: $space*2;
    }
.maniAside{
    width: 35.2%;
    .maniAside__link {
        border: 1px solid $gary-400;
        margin-bottom: -1px;

        &:hover {
            background-color: $background-color-100;
        }

        &:focus {
            @include linkFocus;
            background-color: $background-color-100;
        }
    }
}