
.headerMenu__select {
    &::after{
        display: none;
    }
}

.headerSubMenu__link {
    &:hover {
        color: $green;
    }

    &:focus {
        color: darken($green, 10%);
    }
}


.maniAside__select {
    margin-bottom: 0.375rem;
    &::after{
        display: none;
    }
}

.maniAside {
    width: 35.2%;
}



.mainBlock {
    width: 64%;

    .mainBlock__link {
        &:hover {
            color: $green;
        }

        &:focus {
            color: darken($green, 10%);
        }
    }

    .mainBlock__img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: $space*4;
    }

    .mainBlock__highLight{
        color: $green;
        font-family: 'Roboto Mono', monospace;
        line-height: 1.5;
        background: $gary-100;
    } 

    .mainBlock__file{
        width: fit-content;
        display: flex;
        align-items: center;
        background-color: $gary-100;
        padding: 8px 12px;
        border: 1px solid $gary-400;

        &:hover {
            color: $green;
        }

        &:focus {
            color: darken($green, 10%);
        }
    }

    .mainBlock__menu__switch{
        &:hover {
            color: $green;
        }
        &:active {
            color: darken($green, 15%); 
        }
    }





    .mainBlock__menu__edit-light{
        padding: 8px 32px;
        border: 1px solid $green;
        color: $green;
        margin-right: $space*8;
        font-weight: bold;
        border-radius: 2px;

        &:active {
            color: darken($green, 15%);
        }
    }

    .mainBlock__menu__edit-dark{
        padding: 8px 32px;
        border: 1px solid $green;
        background: $green;
        color: #ffffff;
        font-weight: bold;
        border-radius: 2px;

        &:active {
            color: darken($green, 15%);
        }
    }
}



.mainBlock__reply {

    padding: 16px 25px;
    
    .mainBlock__reply__select {
        border: none;
        outline: none;     
    }

    .mainBlock__reply__function {
        margin-right: $space*15;
        padding-top: $space*2;
        &:hover {
            color: $green;
        }

        &:focus {
            color: darken($green, 10%);
        }
    }
}

.mainBlock__reply__form{
    padding: 16px 25px 16px;
}

.mainBlock__reply__textarea{
    border: none;
    outline: none;
    width: 100%;
    height: 185px;
    resize: none;  

    &::placeholder{
        color: $gary-400;
    }
}

.mainBlock__reply__button__light{
    padding: 8px 32px;
    border: 1px solid $green;
    background-color: #ffffff;
    color: $green;
    margin-right: $space*8;
    font-weight: bold;
    border-radius: 2px;

    &:active {
        color: darken($green, 15%); 
    }
}

.mainBlock__reply__button__dark{
    padding: 8px 32px;
    border: 1px solid $green;
    background-color: $green;
    color: #ffffff;
    font-weight: bold;
    border-radius: 2px;

    &:active {
        color: darken($green, 15%);
    }
}


.change .reply{
    display: block !important;
}

.change .answer{
    display: none;
}