.mainBlock__reply {

    padding: 16px 25px;
    
    .mainBlock__reply__select {
        border: none;
        outline: none;     
    }

    .mainBlock__reply__function {
        margin-right: $space*15;
        padding-top: $space*2;
        &:hover {
            @include linkHover
        }

        &:focus {
            @include linkFocus
        }
    }
}

.mainBlock__reply__form{
    padding: 16px 25px 16px;
}

.mainBlock__reply__textarea{
    border: none;
    outline: none;
    width: 100%;
    height: 185px;
    resize: none;  

    &::placeholder{
        color: $gary-400;
    }
}

.mainBlock__reply__button__light{
    padding: 8px 32px;
    border: 1px solid $green;
    background-color: #ffffff;
    color: $green;
    margin-right: $space*8;
    font-weight: bold;
    border-radius: 2px;

    &:active {
        @include linkActive 
    }
}

.mainBlock__reply__button__dark{
    padding: 8px 32px;
    border: 1px solid $green;
    background-color: $green;
    color: #ffffff;
    font-weight: bold;
    border-radius: 2px;

    &:active {
        @include linkActive 
    }
}

.reply{
    display: none;
}

.change .reply{
    display: block;
}

.change .answer{
    display: none;
}