*,*::after,*::before{
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    color: $gary-900;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: $gary-900;
    display: block;
}

a:hover{
    color: inherit;
}
