@mixin imgReplaceText ($url) {
    background-image: url($url);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
}

@mixin twoItemLevelCenter {
    display: flex;
    align-items: center;
}



@mixin linkHover {
    color: $green;
}

@mixin linkFocus {
    color: darken($green, 10%);
}

@mixin linkActive {
    color: darken($green, 15%);
}