// link

.link-base-light-style {
    padding: 6px 27px;
    border: 1px solid $green;
    color: $green;
    background: #ffffff;
    margin-right: $space*8;
    font-weight: bold;
    border-radius: 2px;
}

.link-base-dark-style {
    padding: 6px 27px;
    color: #fff;
    border: 1px solid $green;
    border-radius: 2px;
    background-color: $green;
    font-weight: bold;
}


.link-base-action-style {
    cursor: pointer;
    &:hover {
        color: lighten($green, 10%);
    }

    &:active {
        background-color: darken($green, 10%);
        color: #ffffff;
    }
}

.link-danger-action-style {
    cursor: pointer;
    &:hover {
        color: lighten($red, 10%);
    }

    &:active {
        background-color: darken($red, 5%);
        color: #ffffff;
    }
}



// list style
.list-style-disc {
    list-style-type: disc;
    list-style-position: inside;
}


// icon

.iconFill-0 {
    font-variation-settings:
        'FILL' 0 !important;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 200,
    'opsz' 24
  }