// color
$green: #198754;
$gary-100: #F8F9FA;
$gary-400: #CED4DA;
$gary-600: #6C757D;
$gary-900: #212529;
$red:#DC3545;

// space
$space: 2px;

$space_percent: 1%;

// size
$size: 2px;

// background-color
$background-color-100: $gary-100;


// color
$danger: $red;
